<br>
<br>
<h1 style="font-size:45px;padding-left:100px;color:grey">EMMA WATSON</h1>
<br>
<div class="form">
  <table cellspacing="20" cellpadding="20">
    <tr>
      <div class = "container">
        <td><img src = "src/app/img/u1.jpg"  class="rounded-circle img-thumbnail" height="400px" width="450px"></td>
    <td style="margin: 70px; padding: 40px;"><h1>Born	Emma Charlotte Duerre Watson      15 April 1990 (age 28)</h1>
    <ul>
    <li style = "font-size:20px">Occupation	:      ActressModelActivist</li><br>
    </ul></td></div></table>
</div>
<br>
<br>
<div style="width:90%;margin:auto;padding:30px">
  <h1 style="font-size:45px;padding-left:100px;color:rgb(27, 115, 156)">My Place</h1>
  <br>
  <br>
  <video  class="video-responsive" width="100%" height="500" controls>
    <source src="src\app\img\vid2.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  </div> 
  <br>
  <br>
  <table cellspacing="20" cellpadding="20">
      <tr>
        <div class = "container">
          <td><h1>House:</h1></td>
          <td style="margin: 70px; padding: 40px;"><h3>3-bedroom bunglow with a swimming pool</h3></td>
        </div>
      </tr>
      <tr>
          <div class = "container">
            <td><h1>Facilities :</h1></td>
            <td style="margin: 70px; padding: 40px;">
            <ul>
              <li> <h3>3-bedrooms</h3></li>
              <li> <h3>Sleeps 10</h3></li>
              <li> <h3>3-bathrooms</h3></li>
              <li> <h3>1 Night Minimum</h3></li>
            </ul> 
            </td>
          </div>
        </tr>
      <tr>
          <div class = "container">
            <td><h1>Contact :</h1></td>
            <td style="margin: 70px; padding: 40px;"><h3>+1234567890</h3></td>
          </div>
        </tr>
        <tr>
            <div class = "container">
              <td><h1>Email :</h1></td>
              <td style="margin: 70px; padding: 40px;"><h3>abcd123@yahoo.com</h3></td>
            </div>
          </tr>
  </table>  
<br>
<br>
<!--  <img src="src/app/img/a5.jpeg" style="text-align:center;margin:auto" class="img-thumbnail" width="90%">
  -->