<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a routerLink="/home" routerLinkActive="active" class="w3-bar-item w3-button w3-wide"><b><img src="src\app\logo.png"
          height="50px" width="180px" /> <span style="color:rgba(0,0,0,0)">-</span>A <span
          style="color:#b300b3;font-size:20px">HOME</span> AWAY FROM HOME</b></a>
    <div class="w3-right ">
      <a routerLink="/login" routerLinkActive="active" class="w3-bar-item w3-button"><i class="fa fa-user"></i>
        LOGIN</a>
      <a routerLink="htw" routerLinkActive="active" class="w3-bar-item w3-button"> HOW IT WORKS</a>
      <a routerLink="/hosts" routerLinkActive="active" class="w3-bar-item w3-button"> HOSTS</a>
      <a routerLink="/contactus" routerLinkActive="active" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>
        CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
      onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<br />
<br />
<router-outlet></router-outlet>


<footer class="footer center-align">
  <br>
  <h2>Developed By:</h2>
  <div class="row" style="padding:30px;margin:auto">
    <div class="col-sm-6">
      <div class="w3-display-container">
        <ul>
          <li><img src="src/app/img/dev1.jpg" class="rounded-circle" height="100px" width="100px" /></li>
          <br>
          <li>Krishna Mistry</li>
          <li>Email: anhsirk.31m@gmail.com</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="w3-display-container">
        <ul>
          <li><img src="src/app/img/dev2.png" class="rounded-circle" height="100px" width="100px" /></li>
          <br>
          <li>Abhisek Mehta</li>
          <li>Email: mehta.abhisek98@yahoo.in</li>
        </ul>
      </div>
    </div>
  </div>
  &copy;copyrights 2018. All Rights Reserved.
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>

</footer>