<!--The content below is only a placeholder and can be replaced.-->
<html>

<head>

  <meta charset="UTF-8">
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>CouchSurfing</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a routerLink="/home" routerLinkActive="active" class="w3-bar-item w3-button w3-wide"><b><img
            src="../assets/logo.png" height="50px" width="180px" /> <span style="color:rgba(0,0,0,0)">-</span>A <span
            style="color:#b300b3;font-size:20px">HOME</span> AWAY FROM HOME</b></a>
      <div class="w3-right ">
        <a routerLink="/login" routerLinkActive="active" class="w3-bar-item w3-button"><i class="fa fa-user"></i>
          LOGIN</a>
        <a routerLink="htw" routerLinkActive="active" class="w3-bar-item w3-button"> HOW IT WORKS</a>
        <a routerLink="/hosts" routerLinkActive="active" class="w3-bar-item w3-button"> HOSTS</a>
        <a routerLink="/contactus" routerLinkActive="active" class="w3-bar-item w3-button"><i
            class="fa fa-envelope"></i> CONTACT</a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer class="footer center-align">
    <h2>Developed By:</h2>
    <div class="row" style="margin:auto">
      <div class="col-sm-3">
        <div class="w3-display-container">
          <ul>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="w3-display-container">
          <ul>
            <li><img src="../assets/img/dev1.jpg" class="rounded-circle" height="50px" width="50px" /></li>
            <li>Krishna Mistry</li>
            <li>Email: anhsirk.31m@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="w3-display-container">
          <ul>
            <li><img src="../assets/img/dev2.png" class="rounded-circle" height="50px" width="50px" /></li>
            <li>Abhisek Mehta</li>
            <li>Email: mehta.abhisek98@yahoo.in</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="w3-display-container">
          <ul>
          </ul>
        </div>
      </div>
    </div>
    &copy;copyrights 2018. All Rights Reserved.
  </footer>
</body>

</html>