
<br>
<div style="margin:20px 60px">
  <h1 style="color:darkblue;font-size:60px;padding-left:100px">Rakotzbrucke, Germany</h1>
</div>

<div style="width:90%;margin:auto;padding:30px">
<video class="video-responsive" width="100%" height="500" controls>
  <source src="src\app\img\vid1.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</div> 
  <div style="background-color:#ffffb3;border-left:20px solid yellow;margin:10px 60px">
  <h3 style="font-size:40px;color:darkblue;padding-top:30px;padding-left:30px">Place Info</h3>
  <p style="padding:30px;padding-top:5px">
    The Love Canal covers 36 square blocks in the far southeastern corner of the Niagara Falls, in
     New York, along what is now known as 99th Street. The boundaries of the neighborhood are defined 
     by two water bodies: Bergholtz Creek to the north and the Niagara River one-quarter mile (400 m) 
     to the south. The name Love Canal came from the last name of William T. Love, who in the early 
     1890s envisioned a canal connecting Lake Ontario and Lake Erie. He believed it would serve the
      area’s burgeoning industries with much needed hydroelectricity. After 1892, Love’s plan changed
       to incorporate a shipping lane that would bypass the Niagara Falls. Due to the economic 
       depression, Love’s plan failed. Only one mile (1.6 km) of the canal, stretching northward 
       from the Niagara River, was ever dug.
   </p>
</div>
<h1 style="font-size:45px;padding-left:100px;color:grey">Hosts of the Place</h1>
<div class="card-deck" style="padding:20px 100px">
  <div class="card bg-light hoverable">
    <div class="card-body text-center">
  <img src="src/app/img/u1.jpg" class="rounded-circle" height="100px" width="100px"/>
  <br>
  <br>
  <h4>Madam Curie</h4>
  <p>	Some info about me....</p>
  <a routerLink="/host" class="btn btn-secondary">See Profile</a>
    </div>
  </div>
  <div class="card bg-light hoverable">
    <div class="card-body text-center">
  <img src="src/app/img/u2.jpg" class="rounded-circle" height="100px" width="100px"/>
  <br>
  <br>
  <h4>William Stallings</h4>
  <p>	Some info about me....</p>
  <a routerLink="/host" class="btn btn-secondary">See Profile</a>
    </div>
  </div>
  <div class="card bg-light hoverable">
    <div class="card-body text-center">
  <img src="src/app/img/u2.jpg" class="rounded-circle" height="100px" width="100px"/>
  <br>
  <br>
  <h4>Jim Rahn</h4>
  <p>	Some info about me....</p>
  <a routerLink="/host" class="btn btn-secondary">See Profile</a>
    </div>
  </div>  
</div>
<div class="card-deck" style="padding:20px 100px">
  <div class="card bg-light hoverable">
    <div class="card-body text-center">
  <img src="src/app/img/u1.jpg" class="rounded-circle" height="100px" width="100px"/>
  <br>
  <br>
  <h4>Emma Watson</h4>
  <p>	Some info about me....</p>
  <a routerLink="/host" class="btn btn-secondary">See Profile</a>
    </div>
  </div>
  <div class="card bg-light hoverable">
    <div class="card-body text-center">
  <img src="src/app/img/u2.jpg" class="rounded-circle" height="100px" width="100px"/>
  <br>
  <br>
  <h4>Tom Cruise</h4>
  <p>	Some info about me....</p>
  <a routerLink="/host" class="btn btn-secondary">See Profile</a>
    </div>
  </div>
  <div class="card bg-light hoverable">
    <div class="card-body text-center">
  <img src="src/app/img/u2.jpg" class="rounded-circle" height="100px" width="100px"/>
  <br>
  <br>
  <h4>Abraham Lincoln</h4>
  <p>	Some info about me....</p>
  <a routerLink="/host" class="btn btn-secondary">See Profile</a>
    </div>
  </div>  
</div> 
    