<div class="d1 animated flipInX">
  <p style="font-size:50px">
    <b class="white-text">Stay With Locals, Feel Like Home and Explore the World</b>
  </p>
  <pre style="font-size:17px;color:white">
And if travel is like love, it is, in the end, mostly because it's
a heightened state of awareness, in which we are mindful, receptive,
undimmed by familiarity and ready to be transformed. That is why
the best trips, like the best love affairs, never really end.
						<strong>-Pico Iyer</strong>
	</pre>
</div>
<h1 style="text-align:center;font-size:60px">Top CouchSurfing Destinations</h1>
<br>

<div class="row center-align">
  <div class="input-field col s12">
    <input type="text" id="inp" placeholder="  Enter the place you want to search......"
      style="width:40%">&nbsp;&nbsp;&nbsp;<button class="btn btn-primary"><i class="fa fa-search"></i></button>

  </div>
</div>

<div id="viewmore" class="row" style="padding:30px;margin:auto">
  <div class="col-sm-4 animated bounceInLeft delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/i3.png" id="img1" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname">Hallstatt, Austria</div>
    </div>
  </div>
  <div class="col-sm-4 animated bounceInUp delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/i4.png" id="img2" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname2">Plitvice Lake</div>
    </div>
  </div>
  <div class="col-sm-4 animated bounceInRight delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/i6.png" id="img3" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname3">Secret Lagoon</div>
    </div>
  </div>
</div>
<div class="row" style="padding:30px;margin:auto">
  <div class="col-sm-4 animated bounceInLeft delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/i7.png" id="img4" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname4">Strasbourg, France</div>
    </div>
  </div>
  <div class="col-sm-4  animated bounceInUp delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/i8.png" id="img5" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname5">Milan, Italy</div>
    </div>
  </div>
  <div class="col-sm-4 animated bounceInRight delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/j.png" id="img6" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname6">Mount Fuji</div>
    </div>
  </div>
</div>
<div class="row" style="padding:30px;margin:auto">
  <div class="col-sm-4 animated bounceInLeft delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/j1.png" id="img7" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname7">Moscow, Russia</div>
    </div>
  </div>
  <div class="col-sm-4  animated bounceInUp delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/j2.png" id="img8" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname8">San Francisco, California</div>
    </div>
  </div>
  <div class="col-sm-4 animated bounceInRight delay-3s">
    <div class="w3-display-container w3-text-white divimg">
      <img src="../../assets/img/j8.png" id="img9" class="imghover">
      <div class="w3-display-middle overlay" 
        id="pname9">Rakotzbrucke, Germany</div>
    </div>
  </div>
</div>