<div class="d1 animated flipInX">
  <p style="font-size:50px">
    <b class="white-text">Stay With Locals, Feel Like Home and Explore the World</b>
  </p>
  <pre style="font-size:17px;color:white">
And if travel is like love, it is, in the end, mostly because it's
a heightened state of awareness, in which we are mindful, receptive,
undimmed by familiarity and ready to be transformed. That is why
the best trips, like the best love affairs, never really end.
						<strong>-Pico Iyer</strong>
	</pre>
</div>
<h1 style="text-align:center;font-size:60px">Top CouchSurfing Destinations</h1>
<br>

<div class="row center-align">
  <div class="input-field col s12">
    <input type="text" id="inp" placeholder="  Enter the place you want to search......"
      style="width:40%">&nbsp;&nbsp;&nbsp;<button class="btn btn-primary"><i class="fa fa-search"></i></button>

  </div>
</div>

<div id="viewmore" class="row" style="padding:30px;margin:auto">
  <div class="col-sm-4 animated bounceInLeft delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/i3.png" id="img1" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname"></div>
    </div>
  </div>
  <div class="col-sm-4 animated bounceInUp delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/i4.png" id="img2" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname2"></div>
    </div>
  </div>
  <div class="col-sm-4 animated bounceInRight delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/i6.png" id="img3" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname3"></div>
    </div>
  </div>
</div>
<div class="row" style="padding:30px;margin:auto">
  <div class="col-sm-4 animated bounceInLeft delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/i7.png" id="img4" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname4"></div>
    </div>
  </div>
  <div class="col-sm-4  animated bounceInUp delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/i8.png" id="img5" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname5"></div>
    </div>
  </div>
  <div class="col-sm-4 animated bounceInRight delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/j.png" id="img6" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname6"></div>
    </div>
  </div>
</div>
<div class="row" style="padding:30px;margin:auto">
  <div class="col-sm-4 animated bounceInLeft delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/j1.png" id="img7" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname7"></div>
    </div>
  </div>
  <div class="col-sm-4  animated bounceInUp delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/j2.png" id="img8" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname8"></div>
    </div>
  </div>
  <div class="col-sm-4 animated bounceInRight delay-3s">
    <div class="w3-display-container w3-text-white">
      <img src="../../assets/img/j8.png" id="img9" width="100%" height="450px">
      <div class="w3-display-middle" style="font-size:30px;background-color:rgba(0,0,0,0.5);text-align:center"
        id="pname9"></div>
    </div>
  </div>
</div>